@import 'utility'

$base-text-size: 16px
$base-font-family: sans-serif

html
  text-size-adjust: 100%

body
  @include font-smoothing(on)
  margin: 0
  font: $base-text-size / 1 $base-font-family
  background-image: url('https://lh6.googleusercontent.com/0DfRtI9ijn13RLFoXJ9fx9AOD31nJmZOGEXe_WxHaz__Sp3illuqR_lbbhaHAblg3lkkz5eNf6bn86G564YYkhadtVJBb-REzsAw5ReLxaoGysdF9qoq2mBL3SPONfbWY9CkMac')
  background-repeat: no-repeat
  background-size: cover
