@import 'utility'

html
  text-size-adjust: 100%

body
  @include font-smoothing(on)
  margin: 0
  min-height: 100vh
#root
  min-height: 100vh
.startscreen
  text-align: center
  min-height: 100vh
  display: flex
  flex-direction: column

  main
    flex: 1
    display: flex

  .display
    border: 2px solid black
    background-image: url('../images/batmanheader.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    display: flex
    justify-content: space-between
    color: white
    display: flex
    min-height: 100px
    // flex-wrap: wrap
    h1
      font-size: 2em
      font-family: fantasy
      margin-bottom: 0
      width: 40vw
    .correct
      color: white
      font-size: .8em
      font-family: fantasy
      border: 2px solid white
      border-radius: 10px
      height: 15%
      width: 20%
      margin: 2vw
      padding: .5em
      background-color: rgba(85, 84, 80, .7)
    .incorrect
      color: white
      font-size: .8em
      // font-size: 3vh
      font-family: fantasy
      border: 2px solid white
      border-radius: 10px
      height: 15%
      width: 20%
      // margin: 1em
      margin: 2vw
      padding: .5em
      // background-color: #555450
      background-color: rgba(85, 84, 80, .7)
.modal
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  display: flex
  flex-direction: column
  text-align: center
  align-items: center
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  min-height: 100%
  min-height: 100vh
  background-color: #000000
  background-image: url(('../images/Batmanwins.jpg'))
  transform: translateY(0%)
  transition: transform 0.25s linear
  &.hidden
    display: none
.losemodal
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  display: flex
  flex-direction: column
  text-align: center
  align-items: center
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  background-color: #120302
  background-image: url('../images/riddlerwins.png')
  transform: translateY(0%)
  transition: transform 0.25s linear
  &.hidden
    display: none

.startgame
  flex: 1
  color: white
  width: 100%
  background-image: url('../images/the_riddler.jpg')
  background-blend-mode: soft-light
  background-color: rgba(85, 84, 80, .7)
  background-size: cover
  top: 0
  font-family: fantasy
  padding-top: 1.5em
  display: flex
  flex-direction: column

  .main
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: stretch

    .batman
      flex: 1

  .controls
    padding: 1.5em

  p
    font-size: 1em
    font-weight: bolder
    margin-left: 5%
    font-family: helvetica
    // margin-bottom: 3em
  .batman
    background-image: url('../images/bigbatman.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    align-items: center
    align-content: center
    color: transparent
    // margin-bottom: 3em
    // margin-top: 1em
.startbutton
  background-image: url('../images/batman_symbol.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 6em
  width: 9em
  border-radius: 10px
  font-size: 1em
  color: white
  margin: .2em
select.menu
  // background-color: #555450
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 6em
  width: 9em
  border-radius: 10px
  font-size: 1em
  color: white
  background-image: url('../images/questionmark.jpg')
.gotham
  background-image: url('../images/batmanwallpaper.jpg')
  background-repeat: no-repeat
  background-size: cover
  bottom: 0
  display: flex
  flex: 1
  flex-direction: column
.backbutton
  background-image: url('../images/Batmanbutton.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 6em
  width: 9em
  border-radius: 10px
.resetbutton
  background-image: url('../images/Batmanbutton.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 6em
  width: 9em
  border-radius: 10px
  margin-left: 60vw
  margin-top: 3vh
.aboutbutton
  background-image: url('http://www.getbatman.com/wp-content/uploads/2014/06/Batman-window-decal.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 6em
  width: 9em
  border-radius: 10px
  font-size: 1em
.board
  flex: 1
  display: flex
  flex-wrap: wrap
  a
    flex: 1
    flex-basis: 20%
    display: flex
    flex-direction: column
    justify-content: flex-end

  a:visited
    pointer-events:none
  .hippodrome
    background-image: url('../images/hippodrome.png')
  .bank
    background-image: url('../images/GothamCityBank.jpg')
  .port
    background-image: url('../images/gothamport.jpg')
  .penguin
    background-image: url('../images/gothamhotel.jpg')
  .falcone
    background-image: url('../images/falconerestaurant.jpg')
  .wayne
    background-image: url('../images/waynebuilding.jpg')
  .park
    background-image: url('../images/amusementpark.png')
  .powerplant
    background-image: url('../images/powerplant.jpg')
  .traintracks
    background-image: url('../images/railroad.jpg')
  .warehouse
    background-image: url('../images/warehouse.jpg')
  .sewer
    background-image: url('../images/sewer.jpg')
  .jail
    background-image: url('../images/gothamjail.jpg')
  .alley
    background-image: url('../images/alley.jpg')
  .joker
    background-image: url('../images/jokerhideout.jpg')
  .hospital
    background-image: url('../images/hospital.png')
  .dinner
    background-image: url('../images/gothamdinner.jpg')
  .police
    background-image: url('../images/gcpd.png')
  .arkham
    background-image: url('../images/arkham.jpg')
  .club
    background-image: url('../images/explorersclub.jpg')
  .riddler
    background-image: url('../images/riddlercell.jpg')
.empty
  background-image: url('../images/questionmark.jpg')
  background-size: 100% 100%
  background-position: center
  background-repeat: no-repeat
  color: white
.cell
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  color: white
  border: 1px solid white
p
  margin: 0
.labelcell
  background-color: rgba(85, 84, 80, .7)
.boardfooter
  background-color: #555450
.gamescreen
  display: flex
  flex-direction: column
  align-items: left
  align-content: left
  background-image: url('../images/the_riddler.jpg')
  background-blend-mode: soft-light
  background-color: rgba(85, 84, 80, .4)
  width: 100vw
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-attachment: scroll
  h2
    color: #6FBD47
    font-family: fantasy
    font-weight: bolder
    font-size: 1.5em
    margin-bottom: 0
    margin-right: 50%
  p
    color: white
    font-family: helvetica
    font-size: 1em
    font-weight: bolder
    margin-right: 50%
  .choice
    // min-height: 2em
    min-height: 5vh
    // width: 9em
    width: 20vh
    border-radius: 10px
    margin: .5em
    background-color: #85F15F
    // font-size: 1.5em
    font-size: 2vh
    font-weight: bolder
    margin-left: 30%
    font-family: fantasy
    border: 5px solid #1F2A26
    // min-height: 2em
    // min-height: 5vh
    // width: 9em
    // min-width: 20vh
    // border-radius: 10px
    // margin: .5em
    // background-color: #85F15F
    // font-size: 1em
    // font-size: 2vh
    // font-weight: bolder
    // margin-left: 30%
    // font-family: fantasy
    // border: 5px solid #1F2A26

.notice
  position: absolute
  margin-left: -125px
  left: 50%
  top: 200px
  padding: 25px
  width: 200px
  font-weight: bold
  border: 2px solid #e7e6ef
  animation: fadeOut 3s ease
  opacity: 0.0
  // pointer-events: none

  &.incorrect
    background-color: #F15F85
    color: #e7e6ef

  &.correct
    background-color: #85F15F
    color: #1F2A26

@keyframes fadeOut
  0%
    opacity: 0.0
  5%
    opacity: 1.0
  80%
    opacity: 1.0
  100%
    opacity: 0.0
.about
  background-image: url('../images/enigma.jpg')
  background-size: cover
  background-repeat: no-repeat
  font-size: 2em
  flex: 1
  display: flex
  flex-direction: column
  h1
    // margin-left: 50vw
    // text-align: left
    margin-bottom: 0
    margin-top: 0
    background-color: rgba(85, 84, 80, .8)
    color: white
  .description
    background-color: rgba(85, 84, 80, .8)
    flex: 1
    color: white
  footer
    background-color: #555450


/* Large Devices, Wide Screens */
// @media only screen and (max-width : 1200px)

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .aboutbutton, .startbutton, select.menu
    height: 6em
    width: 8em
    font-size: 1.5em
  .about
    h1
      font-size: .8em
  // .startgame
  //   .intro
  //     font-size: 2.5em
  .description
    font-size: 1.2em
  .batman
    height: 18em
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .aboutbutton, .startbutton, select.menu, .resetbutton
    height: 5em
    width: 7em
    font-size: 1.2em
  .about
    h1
      font-size: 1em
  .description
    font-size: .8em
  .batman
    height: 16em


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .aboutbutton, .startbutton, select.menu, .resetbutton
    height: 4em
    width: 6em
    font-size: 1em
  .about
    h1
      font-size: .7em
  .description
    font-size: .5em

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .aboutbutton, .startbutton, select.menu, .resetbutton
    height: 4em
    width: 6em
    font-size: .7em
  .about
    h1
      font-size: .7em
  .description
    font-size: .4em

  .batman
    height: 100px
