@import 'utility'

html
  text-size-adjust: 100%

body
  @include font-smoothing(on)
  margin: 0
  height: 100vh
#root
  height: 100vh
.startscreen
  text-align: center
  height: 100vh
  display: flex
  flex-direction: column

  main
    flex: 1
    display: flex

  .display
    border: 2px solid black
    background-image: url('../images/batmanheader.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    display: flex
    justify-content: space-between
    color: white
    display: flex
    min-height: 100px
    // flex-wrap: wrap
    h1
      // font-size: 5vh
      font-size: 2em
      font-family: fantasy
      margin-bottom: 0
      width: 40vw
    .correct
      color: white
      font-size: 1.2em
      // font-size: 3vh
      font-family: fantasy
      border: 2px solid white
      border-radius: 10px
      height: 15%
      width: 20%
      // margin: 1em
      margin: 2vw
      padding: .5em
      background-color: rgba(85, 84, 80, .7)
      // background-color: #555450
    .incorrect
      color: white
      font-size: 1.2em
      // font-size: 3vh
      font-family: fantasy
      border: 2px solid white
      border-radius: 10px
      height: 15%
      width: 20%
      // margin: 1em
      margin: 2vw
      padding: .5em
      // background-color: #555450
      background-color: rgba(85, 84, 80, .7)
.modal
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  display: flex
  flex-direction: column
  text-align: center
  align-items: center
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  min-height: 100%
  min-height: 100vh
  background-color: #000000
  background-image: url(('../images/Batmanwins.jpg'))
  transform: translateY(0%)
  transition: transform 0.25s linear
  &.hidden
    display: none
.losemodal
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  display: flex
  flex-direction: column
  text-align: center
  align-items: center
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  background-color: #120302
  background-image: url('http://sd.keepcalm-o-matic.co.uk/i/keep-calm-you-lose-i-win-5.png')
  transform: translateY(0%)
  transition: transform 0.25s linear
  &.hidden
    display: none
.startgame
  display: flex
  flex-wrap: wrap
  color: white
  height: 100%
  background-image: url('../images/the_riddler.jpg')
  background-size: cover
  // background-position: fixed
  // background-attachment: fixed
  // left: 0
  // right: 0
  // bottom: 0
  top: 0
  font-family: fantasy
  padding-top: 1.5em
  overflow: hidden
  p
    // font-size: 1.5em
    font-size: 3vh
    font-weight: bolder
    margin-left: 5%
    font-family: helvetica
  // .left
  //   margin-right: 50vw
  .batman
    background-image: url('http://www.clipartkid.com/images/796/batman2-fOJb4F-clipart.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    height: 40%
    align-items: center
    align-content: center
    color: transparent
.startbutton
  background-image: url('http://i792.photobucket.com/albums/yy206/rockysimpson/batman_symbol.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 6em
  width: 9em
  border-radius: 10px
  font-size: 1em
  color: white
select.menu
  background-color: #555450
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 6em
  width: 9em
  border-radius: 10px
  font-size: 1em
  color: white
.gotham
  background-image: url('http://sdeerwallpaper.com/Cool-Wallpapers/batman-wallpaper-background-Is-Cool-Wallpapers.jpg?7b7757')
  background-repeat: no-repeat
  background-size: cover
  bottom: 0
  display: flex
  flex: 1
  flex-direction: column
.backbutton
  background-image: url('http://www.getbatman.com/wp-content/uploads/2014/06/Batman-window-decal.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 6em
  width: 9em
  border-radius: 10px
.aboutbutton
  background-image: url('http://www.getbatman.com/wp-content/uploads/2014/06/Batman-window-decal.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 6em
  width: 9em
  border-radius: 10px
  font-size: 1em
.board
  flex: 1
  display: flex
  flex-wrap: wrap
  a
    flex: 1
    flex-basis: 20%
    display: flex
    flex-direction: column
    justify-content: flex-end

  a:visited
    pointer-events:none
  .hippodrome
    background-image: url('../images/hippodrome.png')
  .bank
    background-image: url('../images/GothamCityBank.jpg')
  .port
    background-image: url('http://static8.comicvine.com/uploads/original/6/64770/1616843-gothamcity42.jpg')
  .penguin
    background-image: url('https://s-media-cache-ak0.pinimg.com/736x/63/19/b8/6319b85303310edff5d42510a36fd3e9.jpg')
  .falcone
    background-image: url('http://vignette2.wikia.nocookie.net/mafiagame/images/0/06/Italian_Garden_Restaurant_1.jpg/revision/latest?cb=20130309175242')
  .wayne
    background-image: url('http://vignette3.wikia.nocookie.net/batman/images/3/3b/Wayne-enterprises.jpg/revision/latest?cb=20111022043630')
  .park
    background-image: url('http://vignette3.wikia.nocookie.net/scoobydoo/images/1/1d/Gotham_City_Amusement_Park.png/revision/latest?cb=20150718094900')
  .powerplant
    background-image: url('https://enerdynamics.files.wordpress.com/2012/09/96242706.jpg')
  .traintracks
    background-image: url('http://static4.comicvine.com/uploads/original/0/9506/324908-18978-gotham-city.jpg')
  .warehouse
    background-image: url('http://pre04.deviantart.net/fbf8/th/pre/i/2014/179/7/b/eh_abandoned_factory_by_owen_c-d7obojb.jpg')
  .sewer
    background-image: url('http://vignette1.wikia.nocookie.net/superfriends/images/2/2e/GothamSewer.jpg/revision/latest?cb=20110105193009')
  .jail
    background-image: url('http://www.radioactive-software.com/gangwar/Mar13/PoliceStation_Ref.jpg')
  .alley
    background-image: url('https://s-media-cache-ak0.pinimg.com/236x/53/c5/26/53c526b92a2175bf44b501bccf12cd60.jpg')
  .joker
    background-image: url('http://static8.comicvine.com/uploads/original/0/9506/324899-195391-gotham-city.jpg')
  .hospital
    background-image: url('http://vignette4.wikia.nocookie.net/batmantheanimatedseries/images/f/fb/Gotham_City_Hospital.png/revision/latest?cb=20121021081148')
  .dinner
    background-image: url('http://static5.comicvine.com/uploads/original/6/64770/1616849-gothamcity161.jpg')
  .police
    background-image: url('http://vignette3.wikia.nocookie.net/superfriends/images/c/cb/Headquarters.png/revision/latest?cb=20090408041758')
  .arkham
    background-image: url('https://s-media-cache-ak0.pinimg.com/236x/1d/34/ee/1d34ee4e02831cfe00fe7c10aae19c97.jpg')
  .club
    background-image: url('http://static6.comicvine.com/uploads/original/1/14751/320363-27007-gotham-city.jpg')
  .riddler
    background-image: url('http://static.giantbomb.com/uploads/scale_small/12/123089/1736071-434_riddler_15.jpg')
.empty
  background-image: url('http://batmanbuys.com/wp-content/uploads/2015/09/Batman-Riddler-Green-Question-Mark-Design.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  color: white
.cell
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  color: white
  border: 1px solid white
p
  margin: 0
.boardfooter
  background-color: #555450
.gamescreen
  display: flex
  flex-direction: column
  align-items: left
  align-content: left
  background-image: url('../images/the_riddler.jpg')
  width: 100vw
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-attachment: scroll
  h2
    color: #6FBD47
    font-family: fantasy
    font-weight: bolder
    // font-size: 2em
    font-size: 3.5vh
    margin-bottom: 0
    margin-right: 50%
  p
    color: white
    font-family: helvetica
    // font-size: 2em
    font-size: 2.5vh
    font-weight: bolder
    margin-right: 50%
  .choice
    // min-height: 2em
    min-height: 5vh
    // width: 9em
    width: 20vh
    border-radius: 10px
    margin: .5em
    background-color: #85F15F
    // font-size: 1.5em
    font-size: 2.5vh
    font-weight: bolder
    margin-left: 30%
    font-family: fantasy
    border: 5px solid #1F2A26

.notice
  position: absolute
  margin-left: -125px
  left: 50%
  top: 200px
  padding: 25px
  width: 200px
  font-weight: bold
  border: 2px solid #e7e6ef
  animation: fadeOut 3s ease
  opacity: 0.0
  // pointer-events: none

  &.incorrect
    background-color: #F15F85
    color: #e7e6ef

  &.correct
    background-color: #85F15F
    color: #1F2A26

@keyframes fadeOut
  0%
    opacity: 0.0
  5%
    opacity: 1.0
  80%
    opacity: 1.0
  100%
    opacity: 0.0
.about
  background-image: url('../images/enigma.jpg')
  background-size: contain
  background-repeat: no-repeat
  font-size: 2em
  flex: 1
  display: flex
  flex-direction: column
  h1
    margin-left: 45vw
    text-align: left
    margin-bottom: 0
    margin-top: 0
    background-color: rgba(85, 84, 80, .3)
  .description
    background-color: rgba(85, 84, 80, .3)
    margin-left: 45vw
    flex: 1
  .filler
    margin-right: 55vw
    margin-top: -10vh
    color: #6FBD47
    background-color: rgba(85, 84, 80, .3)
  footer
    background-color: #555450


/* Large Devices, Wide Screens */
// @media only screen and (max-width : 1200px)

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .aboutbutton, .startbutton, select.menu
    height: 6em
    width: 8em
    font-size: 1.5em

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .aboutbutton, .startbutton, select.menu
    height: 4em
    width: 6em
    font-size: 1.2em

/* Extra Small Devices, Phones */
// @media only screen and (max-width : 480px)


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .aboutbutton, .startbutton, select.menu
    height: 3em
    width: 5em
    font-size: 1em
